# File: sync-mappings.yaml
# Configuration mappings for NetBrain to FireMon sync

# Collector group mappings
collector_mapping:
  'NA': 'c950063d-a2d9-417f-bbf4-f167ae257eb7'  # North America collectors
  'EU': 'e850063d-b3d9-427f-bbf4-f167ae257eb8'  # Europe collectors
  'AP': 'f750063d-c4d9-437f-bbf4-f167ae257eb9'  # Asia Pacific collectors
  'CN': 'c950063d-a2d9-417f-bbf4-f167ae257eb7'  # China collectors

# Device pack mappings with integrated vendor normalization
device_pack_mapping:
  'Juniper SRX Firewall':
    artifact_id: 'juniper_srx'
    group_id: 'com.fm.sm.dp.juniper_srx'
    device_type: 'FIREWALL'
    device_name: 'SRX'
    model_patterns:
      - "^PA-[0-9]+"      #  # Matches PA-850, PA-3200, etc.
      - '^vSRX'        # Matches virtual SRX
    nb_vendor: 'Juniper'
    fm_vendor: 'Juniper Networks'
  
  'Palo Alto Firewall':
    artifact_id: 'palo_alto_firewall'
    group_id: 'com.fm.sm.dp.paloalto'
    device_type: 'FIREWALL'
    device_name: 'Firewall'
    model_patterns:
      - '^PA-\d+'      # Matches PA- followed by numbers
      - '^VM-\d+'      # Matches VM- series
    nb_vendor: 'Palo Alto'
    fm_vendor: 'Palo Alto Networks'
    
  'Check Point Firewall':
    artifact_id: 'checkpoint_firewall'
    group_id: 'com.fm.sm.dp.checkpoint'
    device_type: 'FIREWALL'
    device_name: 'Firewall'
    model_patterns:
      - '^CP-\d+'
      - '^VSX'
    nb_vendor: 'Check Point'
    fm_vendor: 'Check Point Software Technologies'
    
  'Cisco IOS Router':
    artifact_id: 'cisco_ios'
    group_id: 'com.fm.sm.dp.cisco'
    device_type: 'ROUTER_SWITCH'
    device_name: 'IOS'
    model_patterns:
      - '^ISR\d+'
      - '^ASR\d+'
      - '^CSR\d+'
    nb_vendor: 'Cisco'
    fm_vendor: 'Cisco Systems'

  'Cisco IOS Switch':
    artifact_id: 'cisco_ios'
    group_id: 'com.fm.sm.dp.cisco'
    device_type: 'ROUTER_SWITCH'
    device_name: 'IOS'
    model_patterns:
      - '^WS-C\d+'
      - '^C\d+'
    nb_vendor: 'Cisco'
    fm_vendor: 'Cisco Systems'

  'Cisco ASA Firewall':
    artifact_id: 'cisco_asa'
    group_id: 'com.fm.sm.dp.cisco'
    device_type: 'FIREWALL'
    device_name: 'ASA'
    model_patterns:
      - '^ASA\d+'
      - '^ASAv'
    nb_vendor: 'Cisco'
    fm_vendor: 'Cisco Systems'

# Config file mappings
config_file_mapping:
  'Juniper SRX Firewall':
    'show configuration | display xml': 'config_xml'
    'show interfaces | display xml': 'interfaces_xml'
    'show version | display xml': 'version_xml'
  'Palo Alto Firewall':
    'show config running': 'config_xml'
    'show interface all': 'interfaces_xml'
    'show system info': 'version_xml'
  'Cisco IOS Router':
    'show running-config': 'config_txt'
    'show interfaces': 'interfaces_txt'
    'show version': 'version_txt'
  'Cisco ASA Firewall':
    'show running-config': 'config_txt'
    'show interfaces': 'interfaces_txt'
    'show version': 'version_txt'

# Default device settings
default_settings:
  retrievalMethod: 'FromDevice'
  suppressFQDNCapabilities: false
  useCLICommandGeneration: false
  logMonitoringEnabled: true
  changeMonitoringEnabled: true
  checkForChangeEnabled: false
  scheduledRetrievalEnabled: false
  retrievalCallTimeOut: 120
  serverAliveInterval: 30

# Validation rules
validation_rules:
  required_configs:
    - 'config_xml'
    - 'interfaces_xml'
  device_pack_checks:
    - vendor_match
    - model_match
    - type_match
  license_checks:
    - 'SM'
    - 'PO'
    - 'PP'